.item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  border-right: 1px solid hsl(0, 0%, 86%);
  padding: 0.5em 2em 0.5em 1em;
  flex-grow: 1;
  // flex-grow as child flex
}
