.wrapper {
  width: 400px;

  border: 2px solid rgba(10, 10, 10, 0.1);
  padding: 1.5em 2em;
  border-radius: 5%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
}
