.label {
  @media (max-width: 768px) and (orientation: landscape) {
    margin-bottom: 0.25rem !important;
  }
}

.select {
  width: 100%;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}
