.comment {
  border: 2px solid #3273dc !important;
  background-color: #7fc0ff;
  border-radius: 4px;
  min-height: 50px;
  padding: 0.5em !important;
  margin: 0 !important;
  margin-bottom: 0.5em !important;
}
