.comment {
  border: 2px solid palevioletred !important;
  background-color: pink;
  border-radius: 4px;
  min-height: 50px;
  padding: 0.5em !important;
  margin: 0 !important;
  margin-bottom: 0.5em !important;
}

.changes {
  display: flex;
  flex-direction: column;
}

.message {
  padding-top: 0.5em;
}
