.horizontal {
  width: 50%;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: 70%;
  }

  @media (max-width: 980px) {
    width: 80%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
