.title {
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding: 0.8em 1.2em;

  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    padding: 1em 0.8em;
  }
}

.wrapper {
  padding: 0 1.5em 1.5em;

  @media (max-width: 480px) {
    padding: 0 1.1em 1.5em;
  }
}

.icon {
  font-size: 30px;
}
