.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  display: block;
  text-decoration: underline;
  color: hsl(217, 71%, 53%);
  cursor: pointer;

  &:hover {
    color: hsl(0, 0%, 21%);
  }
}

.attachment {
  margin-top: 0.6em;
}
